<!DOCTYPE html>
<html>
<head>
	<title>API</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/mvc">MVC</a>
		<a href="/http">HTTP</a>
		<a href="/frameworks">Frameworks</a>
		<a href="/api">API</a>
		<a href="/git">Git</a>
	</nav>
	<h1>API</h1>
	<p>API é um conjunto de rotinas e padrões de programação para acesso a um aplicativo de software ou plataforma baseado na Web. A sigla API refere-se ao termo em inglês "Application Programming Interface" que significa em tradução para o português "Interface de Programação de Aplicativos".</p>
	<p>As APIs possibilitam a integração e interação de aplicativos e softwares de forma simplificada.</p>
	<p>As APIs melhoram o nível de gestão interna, interferindo diretamente na forma que as empresas são dirigidas e monitoradas.</p>
	<p>O mundo dos negócios não é estático e justamente por isso que as empresas devem ficar cada vez mais conectadas às novas tendências tecnológicas.</p>
	<p>Uma das principais vantagens da implantação de APIs nas empresas, é a possibilidade de oferecer serviços e produtos personalizados para o usuário final.</p>
</body>
</html>