<!DOCTYPE html>
<html>
<head>
	<title>Frameworks</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/mvc">MVC</a>
		<a href="/http">HTTP</a>
		<a href="/frameworks">Frameworks</a>
		<a href="/api">API</a>
		<a href="/git">Git</a>
	</nav>
	<h1>Frameworks</h1>

	<p>É uma abstração que une códigos comuns entre vários projetos de software provendo uma funcionalidade genérica.</p>
	<p> Basicamente, o Framework provê um template de base com diversas funções para um desenvolvedor, de modo que é desnecessário gastar tempo reproduzindo funções em diversos projetos.</p>
	<p>A utilização de um framework por um desenvolvedor torna-se útil no momento em que você constrói ou utiliza certo componente em mais de uma vez.</p>
</body>
</html>