<!DOCTYPE html>
<html>
<head>
	<title>Git</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/mvc">MVC</a>
		<a href="/http">HTTP</a>
		<a href="/frameworks">Frameworks</a>
		<a href="/api">API</a>
		<a href="/git">Git</a>
	</nav>
	<h1>Git</h1>
	<p>Subversion, Git e Mercurial.</p>
	<p>O esquema de sequência na ordem crescente ajuda a evitar a confusão sobre qual versão do software está sendo utilizada. Uma coisa valiosa em um mundo de ameaças virtuais constantes. </p>
</body>
</html>