<!DOCTYPE html>
<html>
<head>
	<title>HTTP</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/mvc">MVC</a>
		<a href="/http">HTTP</a>
		<a href="/frameworks">Frameworks</a>
		<a href="/api">API</a>
		<a href="/git">Git</a>
	</nav>
	<h1>HTTP</h1>
	
	<p>GET, POST, DELETE, PUT, CONNECT, HEAD, TRACE, OPTIONS, PATCH. Os mais utilizados são: GET E POST </p>
</body>
</html>