<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/mvc">MVC</a>
		<a href="/http">HTTP</a>
		<a href="/frameworks">Frameworks</a>
		<a href="/api">API</a>
		<a href="/git">Git</a>
	</nav>
  	<h1>PROVA!</h1>
</body>
</html>