<!DOCTYPE html>
<html>
<head>
	<title>MVC</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/mvc">MVC</a>
		<a href="/http">HTTP</a>
		<a href="/frameworks">Frameworks</a>
		<a href="/api">API</a>
		<a href="/git">Git</a>
	</nav>
	<h1>MVC</h1>
	
	<p>MVC é nada mais que um padrão de arquitetura de software, separando sua aplicação em 3 camadas. A camada de interação do usuário(view), a camada de manipulação dos dados(model) e a camada de controle(controller).</p>
	
	<p>Na camada model, pois nela você pega os dados da bean e persiste no banco ou ela pega os dados do banco e joga na bean.</p>
	
 	<p>Angular, ReactJS e Vue.js</p>
 	
 	<p>ORM (Object Relational Mapper) é uma técnica de mapeamento objeto relacional que permite fazer uma relação dos objetos com os dados que os mesmos representam. ORM JAVA - Hibernate, ORM Ruby on Rails - Active Record</p>
</body>
</html>